{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    {% for message in app.flashes('success') %}
        <div style="color: green;">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div style="color: red;">{{ message }}</div>
    {% endfor %}

    <form method="post" enctype="multipart/form-data" data-turbo="false">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Mettre à jour</button>
        {{ form_end(form) }}
    </form>
{% endblock %}
