{% extends "base.html.twig" %}

{% block title %}Home Page{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles.css') }}">
{% endblock %}

{% block body %}
<header>
    <h1>Tableau de bord</h1>
    <nav>
        <ul>
            <li><a href="{{ path('group') }}">Groupes</a></li>
        </ul>
    </nav>
</header>

<section class="main-container">
    <div class="account-section">
        <div class="profile-container">
            <a href="{{ path('profile') }}">
                <img src="{{ asset('profile.jpg') }}" alt="Photo de profil" class="profile-pic">
            </a>
            <div class="profile-info">
                <h2 class="username">{{ user.username }}</h2>
                <p class="score">Score personnel : {{ user.score }}</p>
            </div>
        </div>
        <div class="group-info">
            <h2 class="group-name">{{ group.name }}</h2>
            <p class="group-score">Score du Groupe : {{ group.score }}</p>
            <p class="group-member">Nombre de membres dans le groupe : {{ group.memberCount }}</p>
        </div>
    </div>
</section>

<section>
    <h2>Liste</h2>
    <table>
        <thead>
            <tr>
                <th>Valider</th>
                <th>Taches</th>
                <th>Difficultés</th>
                <th>Temps restant</th>
                <th>Créateur</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        <input class="checkbox" id="checkbox_{{ loop.index }}" type="checkbox" />
                        <label for="checkbox_{{ loop.index }}"></label>
                    </td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.difficulty }}</td>
                    <td>{{ task.remainingTime }}</td>
                    <td>{{ task.creator }}</td>
                    <td>
                        <button class="deleteButton" onclick="deleteTask({{ task.id }})">
                            <span class="tooltip">Delete</span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <button class="button" type="button" onclick="addTask()">
        <span class="button__text">Ajouter</span>
        <span class="button__icon">
            <svg class="svg" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <line x1="12" x2="12" y1="5" y2="19"></line>
                <line x1="5" x2="19" y1="12" y2="12"></line>
            </svg>
        </span>
    </button>
</section>
{% endblock %}
